title{color:yellow}
body{background-color : lightblue;}
body{color: maroon;}
.link1{
	color: maroon;
	text-decoration: none;
}
.link2{ color:maroon; text-decoration: none;}
.nextlink1{color:maroon; text-decoration: none;}
.next{color:maroon; text-decoration: none;}